.app__banner{
    position: relative;

}
.app__banner-content{
    background-color: var(--hero-bg);
    padding:  2rem;
    border-radius: 1rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;

}
.app__banner-content p{
    font-size: 1.2rem;
    font-weight: 400;
}
.app__banner-content h3{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.9;
}
.app__banner-content h1{
    font-size: 9.5rem;
    color: aliceblue;
    margin-left: -1rem;
    line-height: 0.9;
}
.app__banner-content button{
    border-radius: 0.7rem;
    background-color: var(--footer-bg);
    padding: 0.4rem 1rem;
    margin-top: 2rem;
    color: aliceblue;
    font-size: large;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.app__banner-img{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-40%);
    object-fit: contain;
    width: 30rem;
    height: 25rem;
}
.app__banner-img img{
    width: 100%;
    height: 100%;
    rotate: 25deg;
}
.app__banner-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 19rem;
}
.app__banner-desc h6{
    font-size: 1rem;
    color: var(--font-color);
    line-height: 1.8;

}
.app__banner-desc p{
text-align: end;
font-weight: 180;
font-size: 0.9rem;
}

@media screen and (max-width:650px) {
    .app__banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 1rem;
        overflow: hidden;
                height: min-content;

    }
    .app__banner-content{
        width: 100%;
        padding:  1rem;

    }
    .app__banner-content h1{
        font-size: 4rem;
    }
    .app__banner-img{
        position: absolute;
        top: 3rem;
        left: 10rem;
        width: 20rem;
        height: 16rem;
        /* display: none; */


    }
    .app__banner-img img{
        width: 100%;
        height: 100%;
    }
    .app__banner-desc{
        position: absolute;
        bottom: 10rem;
    }
}