.app__product {
  flex-direction: column;
  margin-bottom: 3rem;
}

.app__product-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app__product-heading h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--font-color);
}
.app__product-heading p {
  font-weight: 200;
  color: var(--font-color);
}
.app__product-content {
  flex-wrap: wrap;
}

